# Ebemdding pipeline
Bioacoustics Model Zoo: https://github.com/kitzeslab/bioacoustics-model-zoo

In [1]:
%load_ext autoreload
%autoreload 2

In [14]:
import pandas as pd

scratch_dir = "~/scratch/birdclef/data/2025"
model_name = "Perch"
embed_dir = f"{scratch_dir}/train_audio-infer-soundscape/{model_name}/parts/embed/"
df = pd.read_parquet(embed_dir)
df.head(10)

,file,start_time,end_time,0,1,2,3,4,5,6,...,1270,1271,1272,1273,1274,1275,1276,1277,1278,1279
0,/storage/coda1/p-dsgt_clef2025/0/shared/birdcl...,0.0,5.0,0.035193,0.312198,-0.163250,-0.184991,0.106889,0.084568,-0.188817,...,0.058502,0.055137,0.368951,0.033166,-0.196700,-0.164068,0.628766,0.445605,0.402375,-0.124598
1,/storage/coda1/p-dsgt_clef2025/0/shared/birdcl...,5.0,10.0,-0.049977,-0.035013,0.028650,-0.031749,-0.051740,-0.105892,-0.032433,...,-0.081018,0.087219,-0.095684,-0.102721,0.003947,0.008007,0.074437,0.092539,0.071778,0.107605
2,/storage/coda1/p-dsgt_clef2025/0/shared/birdcl...,10.0,15.0,-0.012233,-0.025818,-0.022986,-0.012629,-0.043897,0.001670,0.022503,...,-0.028815,0.083117,-0.073288,-0.082449,0.013737,-0.009788,0.031396,0.034211,0.100053,-0.022362
3,/storage/coda1/p-dsgt_clef2025/0/shared/birdcl...,15.0,20.0,-0.027199,-0.029883,-0.007902,-0.017360,-0.070084,-0.052606,-0.009501,...,-0.025455,-0.015810,-0.059842,0.002440,-0.013438,-0.026338,0.118346,0.022114,0.113497,-0.011001
4,/storage/coda1/p-dsgt_clef2025/0/shared/birdcl...,20.0,25.0,-0.065667,-0.083267,-0.009503,-0.022486,-0.043911,-0.067285,0.006144,...,-0.086033,0.023396,-0.135187,-0.096632,0.005010,0.006353,-0.026329,0.041473,0.090269,-0.023513
5,/storage/coda1/p-dsgt_clef2025/0/shared/birdcl...,25.0,30.0,0.007804,-0.080819,-0.010104,-0.014439,-0.031066,-0.024444,-0.016430,...,-0.035449,-0.021317,-0.059618,-0.063903,-0.020614,-0.000895,0.002544,0.011428,0.089800,0.002696
6,/storage/coda1/p-dsgt_clef2025/0/shared/birdcl...,30.0,35.0,0.001084,-0.054489,-0.002661,0.016589,-0.009403,-0.077126,0.009683,...,-0.064017,0.098506,-0.020567,-0.051697,-0.015454,-0.025679,0.042273,0.020266,0.148185,0.021040
7,/storage/coda1/p-dsgt_clef2025/0/shared/birdcl...,35.0,40.0,-0.044234,-0.088325,-0.027119,-0.012605,-0.031667,-0.064519,0.000483,...,-0.043530,-0.022402,-0.103102,-0.098085,-0.010809,-0.003313,0.006584,0.043535,0.046172,0.053747
8,/storage/coda1/p-dsgt_clef2025/0/shared/birdcl...,40.0,45.0,0.012568,-0.093945,0.009852,0.013703,-0.084016,0.012088,0.034416,...,-0.066655,-0.036080,-0.110994,-0.105673,-0.030306,0.060443,-0.002852,0.024852,0.068415,0.035141
9,/storage/coda1/p-dsgt_clef2025/0/shared/birdcl...,45.0,50.0,-0.022454,-0.039755,-0.011721,0.018917,-0.082614,-0.076480,-0.004622,...,0.030165,0.085825,-0.003670,-0.095642,0.045736,-0.006808,0.109081,0.022519,0.036565,0.018266

In [15]:
df.shape

(187839, 1283)

In [16]:
def get_species_names(file_path_list: list) -> list:
    species_list = []
    for file in file_path_list:
        species_name = file.split("train_audio/")[1].split("/")[0]
        species_list.append(species_name)

    species_list = list(set(species_list))
    species_list.sort()
    return species_list


species_list = get_species_names(df["file"].iloc[:])
display(len(species_list))
species_list[:5]

205

['1139490', '1192948', '1194042', '126247', '1346504']

In [28]:
# create species_name column
embed_df = df.copy()
embed_df["species_name"] = df["file"].apply(
    lambda x: x.split("train_audio/")[1].split("/")[0]
)
# group by species_name and count the number of files
species_count = embed_df.groupby("species_name").size().reset_index(name="count")
species_count.sort_values(by="count", ascending=False, inplace=True)
species_count.tail(10)

   species_name  count
43        65419      8
51        67082      8
56        81930      8
47        66016      4
34       548639      4
23        42113      4
22        42087      3
31       523060      3
57       868458      3
10        21116      1

In [ ]:
# train/test split requries y label to have at least 2 samples
# remove species from ebed_df with less than 2 samples
species_count = embed_df["species_name"].value_counts()
valid_species = species_count[species_count >= 2].index
embed_df = embed_df[embed_df["species_name"].isin(valid_species)].reset_index(drop=True)
embed_df.shape, df.shape

In [5]:
from pathlib import Path

raw_root = Path("~/p-dsgt_clef2025-0/shared/birdclef/raw/birdclef-2025").expanduser()
! ls {raw_root}
soundscape_root = raw_root / "train_audio"
! ls {soundscape_root} | head
soundscapes = sorted(soundscape_root.glob("**/*.ogg"))
display(len(soundscapes))

recording_location.txt	taxonomy.csv	  train.csv    train_soundscapes
sample_submission.csv	test_soundscapes  train_audio
1139490
1192948
1194042
126247
1346504
134933
135045
1462711
1462737
1564122

28564

In [6]:
soundscapes = [str(sp) for sp in soundscapes]
soundscape_list = get_species_names(soundscapes)
display(len(soundscape_list))
soundscape_list[:5]

206

['1139490', '1192948', '1194042', '126247', '1346504']

In [7]:
for name in soundscape_list:
    if name not in species_list:
        print(name)

1564122